@charset "UTF-8";

body {
    background-color: #1D1D1E;
}
.titulo {
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.grupo1 {
    text-align: center;
}
.grupo2 {
    text-align: center;
}
.html {
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.javascript {
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.hardware {
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.python {
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}